*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  position: relative;
}

.nav-bar {
  height: 4rem;
  background-color: #E2E2E2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar ul{
  margin: auto 1rem auto 0;
}

.nav-bar li {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.5rem;
}

.nav-bar a {
  color: #334E68;
  text-decoration: none;
  font-family: Mukta, sans-serif;
  transition: width .3s;
}

.nav-bar a:hover::after {
  cursor: hand;
  width: 100%
}

.nav-bar a::after {
  display: block;
  content: '';
  transition: width .5s;
  width: 0;
  height: 2px;
  background-color: #01A9DB;
}


.animation {
  height: 60vh;
  background-color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy%E2%80%A6,w_2000,f_auto,q_auto/9621/a4011e77-0e25-416f-ab13-d3840a5664e3_kssoov.jpg');
  background-size: cover;
  opacity: 0.9;
  flex-direction: column;
}

.animation h1 {
  font-family: 'Cantata One', serif;
  color: white;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.about-me {
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  padding-right: 5%;
  padding-left: 5%;
  flex-direction: column;
  align-items: center;
}

.about-me>h1{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-family: 'Cantata One', serif;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  line-height: 1.4;
}

.about-me-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2%;
  border-top-right-radius: 35px;
  background-color: #F2F2F2;
  width: 100%
}

.about-me-container h1 {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-family: 'Noto Serif JP', serif;
}




.color-line {
  border-bottom: solid;
  width: 4rem;
  margin-bottom: 1rem;
  -webkit-animation:colorchange 5s infinite alternate;
}

.about-me-container li {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #334E68;
  font-family: 'Mukta', sans-serif;
  list-style: none;
}

.about-me-container p {
  text-align: left;
  margin-bottom: 1rem;
}

.neutral-color {
  color: rgb(93, 132, 168);
}

.skills {
  height: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  background: -webkit-linear-gradient(left,#78f0d2,#84b5da);
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
}

.logo {
  height: 100%;
  width: 5rem;
}

.logo img {
  height: 100%;
}

.contact{
  height: 100%;
  background-color: #26262a;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

.contact li {
  display: inline-block;
  border-radius: 5px;
}

.contact img {
  height: 50px;
  width: 50px;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 40px
}

.contact h1 {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-family: 'Cantata One', serif;
}

.text{
  font-size: 4.5rem;
  color: white;
  font-family: 'Noto Serif JP', serif;
  width: 100%;
}

.text::after{
  border-right: solid red;
  height: 15%;
  width: 1px;
  content: "";
  animation: blink 0.7s infinite ease;
}

@keyframes blink {
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.interest {
  width: 50vw;
  background-color: grey;
  height: 100vh;
}

.skills h1 {
  font-size: 2.5rem;
  font-family: 'Cantata One', serif;
  color: white;
}

.icon {
  display: inline-block;
  height: 100%;
}

.icon img{
  height: 100%;
}


.projects {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: black;
  font-size: 1.5rem;
}

.project-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 5px 10px 30px #063d67;
  margin-top: 2rem;
}

.projects h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-family: 'Cantata One', serif;
}

.projects p {
  font-family: 'Noto Serif JP', serif;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #334E68;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(106, 177, 201,1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay p {
  opacity: 1;
}

.project-container .overlay:hover {
  opacity: .6;
  cursor: pointer;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5;
  height: 100%;
}

.overlay-text h2 {
  margin-top: 3rem;
  font-family: 'Noto Serif JP', serif;
}

.overlay-text p {
  font-family: 'Mukta', sans-serif;
}

.changing-color {
  -webkit-animation:colorchange 5s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    
    color: #bd760c;
  }
  
  20% {
    
    color: #8e44ad;
  }
  
  40% {
    
    color: #b5d428;
  }
  
  60% {
    
    color: #d35400;
  }

  80% {
    color: rgb(236, 10, 180);
  }

  100% {
    color: rgb(10, 33, 238);
  }

}

.modal {
  position: fixed;
  background: rgba(36, 34, 34, 0.96);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: none ;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  height: 100%;
  overflow: auto;
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.close {
  right: 430px;
  font-size: 5rem;
  transform: rotate(45deg);
  color: rgb(17, 214, 221);
}

.modal-text {
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  padding-right: 10%;
  padding-left: 10%;
}

.button-container {
  position: absolute;
  background-color: #334E68;
  border-bottom-left-radius: 5px;
  right: 0;
}

.button-container:hover {
  cursor: pointer;
}

.modal-text h1 {
  color: white;
  font-family: 'Cantata One', serif;
}

.modal-text h2 {
  margin-top: 3rem;
  font-family: 'Mukta', sans-serif;
  color: #01A9DB;
}

.modal-text p {
  font-family: 'Noto Serif JP', serif;
  color: white;
}

.modal-text img {
  width: 25rem;
  height: 25rem;
}



@media only screen and (max-width: 399px) {
  .nav-bar li, .about-me-container li, .projects p {
    font-size: 1rem;
  }

  .animation h1, .skills h1, .about-me>h1, .projects h1, .contact h1 {
    font-size: 2rem;
  }

  .text, .about-me-container h1 {
    font-size: 1.5rem;
  }

  .text::after {
    border-right: solid red;
    height: 7%;
  }

  .logo img{
    width: 80%;
    height: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-container img{
    width: 100%;
    height: 100%;
  }

  .overlay {
    width: 100%;
    height: 100%;
  }

  .modal-text img {
    width: 15rem;
    height: 15rem;
  }

.modal-text h1 {
  font-size: 1.5rem;
  }

.modal-text h2 {
  font-size: 1.3rem;
  }

.modal-text p {
  font-size: .8rem;
  }

  .close {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 699px) and (min-width: 400px) {
  .nav-bar li, .about-me-container li, .projects p {
    font-size: 1.1rem;
  }

  .animation h1, .skills h1, .about-me>h1, .projects h1, .contact h1 {
    font-size: 2rem;
  }

  .text, .about-me-container h1 {
    font-size: 1.5rem;
  }

  .about-me-container h1 {
    margin-bottom: 1.5rem;
  }

  .text::after {
    border-right: solid red;
    height: 7%;
  }

  .logo img{
    width: 80%;
    height: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-container img{
    width: 100%;
    height: 100%;
  }

  .overlay {
    width: 100%;
    height: 100%;
  }

  .modal-text img {
    width: 15rem;
    height: 15rem;
  }

.modal-text h1 {
  font-size: 2rem;
  }

.modal-text h2 {
  font-size: 1.8rem;
  }

.modal-text p {
  font-size: .8rem;
  }

  .close {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 899px) and (min-width: 700px) {
  .nav-bar li, .about-me-container li, .projects p {
    font-size: 1.5rem;
  }

  .text, .skills h1, .about-me>h1, .projects h1, .contact h1 {
    font-size: 2rem;
  }

  .animation h1 {
    font-size: 2.5rem;
  }

  .about-me-container h1 {
    font-size: 1.5rem;
  }

  .about-me-container h1 {
    margin-bottom: 1.5rem;
  }

  .about-me-container {
    width: 80%;
  }

  .text::after {
    border-right: solid red;
    height: 10%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-container img{
    width: 100%;
    height: 100%;
  }

  .overlay {
    width: 100%;
    height: 100%;
  }

  .modal-text img {
    width: 15rem;
    height: 15rem;
  }

  .modal-text h1 {
    font-size: 2rem;
    }
  
  .modal-text h2 {
    font-size: 1.8rem;
    }
  
  .modal-text p {
    font-size: 1rem;
    }
  
  .close {
    font-size: 4rem;
  }

}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
  .nav-bar li, .about-me-container li, .projects p {
    font-size: 1.5rem;
  }

  .skills h1, .about-me>h1, .projects h1, .contact h1 {
    font-size: 2rem;
  }

  .animation h1 {
    font-size: 2.5rem;
  }

  .text {
    font-size: 2.2rem;
  }

  .about-me-container h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .about-me-container {
    width: 80%;
  }

  .text::after {
    border-right: solid red;
    height: 11%;
  }

  .logo img{
    width: 80%;
    height: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-container img{
    width: 100%;
    height: 100%;
  }

  .overlay {
    width: 100%;
    height: 100%;
  }

  .modal-text img {
    width: 20rem;
    height: 20rem;
  }

  .modal-text h1 {
    font-size: 2rem;
    }
  
  .modal-text h2 {
    font-size: 1.8rem;
    }
  
  .modal-text p {
    font-size: 1rem;
    }
  
  .close {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1101px) {
  .neutral-color {
    font-size: 1.3rem;
  }

  .about-me-container li{
    font-size: 1.5rem;
  }

  .about-me-container {
    width: 30%;
  }

  .about-me-container h1 {
    font-size: 1.7rem;
  }

  .animation h1 {
    font-size: 3rem;
  }

  .text {
    font-size: 2.5rem;
  }

  .flex-container {
    line-height: 1;
  }

  .project-container {
    width: 40%;
    margin-top: 3rem;
  }

  .project-container img{
    width: 100%;
  }

  .text::after {
    border-right: solid red;
    height: 14%;
  }

  .overlay-container {
    position: relative;
  }

  .modal-text img {
    width: 25rem;
    height: 25rem;
  }

    .modal-text h1 {
    font-size: 2rem;
    }
  
  .modal-text h2 {
    font-size: 1.8rem;
    }
  
  .modal-text p {
    font-size: 1rem;
    }
  
  .close {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1501px) {
  .about-me-container {
    width: 30%;
  }

  .about-me-container li{
    font-size: 1.5rem;
  }

  .neutral-color {
    font-size: 1.3rem;
  }

  .about-me-container h1 {
    font-size: 1.7rem;
  }

  .modal-text h1 {
    font-size: 1.8rem;
    }
  
  .modal-text h2 {
    font-size: 1.5rem;
    }
  
  .modal-text p {
    font-size: 1rem;
    }
  
  .close {
    font-size: 4rem;
  }


}
